
@use './utils/vars' as *;
@use './utils/global' as *;
@import "./components/page-header";
@import "./components/logo";
@import "./components/buttons";
@import "./components/hero";
@import "./components/article";
@import "./components/our-job";
@import "./components/social-media";
@import "./components/team";
@import "./components/customers";
@import "./components/footer";
@import "./components/modal";
@import "./components/form";
@import "./components/custom-checkbox";
@import "./components/filters";
@import "./components/category";






