.article {
  &__list {
    @include tablet {
      display: flex;
      wrap: wrap;
    }
    @include desktop {
      gap: 30px;
    }
  }

  &__list-item {
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }

    @include tablet {
      width: 354px;
    }
  }

  &__icon-box {
    width: 100%;
    margin-bottom: 30px;
    padding: 25px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $brand-2nd-grey;
    border-radius: 4px;
  }

  &__title {
    color: $brand-almost-black;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  &__description {
    color: $brand-light-grey;

    @include desktop {
      line-height: 1.71;

      font-size: 14px;
      text-align: justify;
    }
  }
}
