.article{
    &__list {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
  
  &__icon-box{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $brand-2nd-grey;
    padding: 25px;
    border-radius: 4px;
  }
  
  &__title{
    font-weight: 700;
    line-height: 1.17;
    color: $brand-almost-black;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  
  &__description {
    line-height: 1.71;
    color: $brand-light-grey;
    font-size: 14px;
    text-align: justify;
  }
  
}
