.hero__button {
  width: 200px;
  margin: 0 auto;
  padding: 10px 0px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: $brand-light-navy;
  color: $brand-white;
  font-weight: 500;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border-color: $brand-light-navy;
  border: none;
  transition-property: box-shadow;
  transition-duration: $transitionDurationDeafault;
  transition-timing-function: $tarnsitionTimingDefault;

  &:hover {
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

.footer__newsletter-submit-btn {
  position: relative;
  height: 50px;
  width: 200px;
  display: flex;
  align-items: center;
  padding-left: 42px;
  font-weight: 700;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: $brand-light-navy;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

.modal__close-btn {
  position: absolute;
  font-size: 24px;
  line-height: 0.9;
  top: 8px;
  right: 8px;
  // margin-left: auto;
  width: 30px;
  height: 30px;
  background-color: inherit;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.form__submit-btn {
  padding: 10px 76px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: $brand-light-navy;
  color: $brand-white;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

.filters__button {
  height: 38px;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: $brand-almost-black;
  background-color: $brand-2nd-grey;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border-color: $brand-2nd-grey;
  border: none;
  outline: none;
  transition-property: background-color, color, box-shadow;
  transition-duration: $transitionDurationDeafault;
  transition-timing-function: $tarnsitionTimingDefault;

  &--resize1 {
    width: 103px;

    @include desktop {
      width: 121px;
    }
  }
  &--resize2 {
    width: 128px;

    @include desktop {
      width: 93px;
    }
  }
  &--resize3 {
    width: 145px;

    @include desktop {
      width: 114px;
    }
  }
  &--resize4 {
    width: 103px;

    @include desktop {
      width: 91px;
    }
  }
  &--resize5 {
    width: 130px;

    @include desktop {
      width: 121px;
    }
  }

  &:hover,
  &:focus {
    background-color: $brand-light-navy;
    color: $brand-white;
    cursor: pointer;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
