.customers {
  &__title {
    margin-bottom: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;

    @include desktop {
      margin-bottom: 50px;
      font-size: 36px;
    }
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 6.25%;
    gap: 30px;

    @include tablet {
      column-gap: 30px;
    }
  }

  &__link {
    display: flex;
    width: 43%;
    align-items: center;
    justify-content: center;
    padding: 13px 0;
    border-radius: 4px;
    fill: $brand-3rd-grey;
    border: 1px solid $brand-3rd-grey;
    transition-property: border, fill;
    transition-duration: $transitionDurationDeafault;
    transition-timing-function: $tarnsitionTimingDefault;

    &:hover,
    &:focus,
    &:hover > .customer__logo,
    &:focus > .customer__logo {
      border-color: $brand-light-navy;
      outline: none;
      fill: $brand-light-navy;
    }
    @include tablet {
      max-width: 226px;
    }

    @include desktop {
      width: 170px;
      align-items: center;
      justify-content: center;
      padding: 13px 29px;
    }
  }
}
