.custom-checkbox {
  position: relative;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  margin-bottom: 30px;

  &__input {
    position: absolute;
    background: $brand-white;
    margin: 0;
    appearance: none;
    border: 1.8px solid $brand-black;
    border-radius: 2px;
    width: 16px;
    height: 15px;
    top: 3px;
    left: 9px;
    transition-property: background-color;
    transition-duration: $transitionDurationDeafault;
    transition-timing-function: $tarnsitionTimingDefault;

    &[type='checkbox']:checked {
      background-color: $brand-light-navy;
      border-color: $brand-light-navy;
    }
  }

  &__icon {
    position: absolute;
    left: 12px;
    top: 6px;
    fill: $brand-white;
    transition-property: opacity;
    transition-duration: $transitionDurationDeafault;
    transition-timing-function: $tarnsitionTimingDefault;
  }

  &__conditions {
    max-width: 80%;
    color: $brand-light-grey;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-align: center;
  }

  &__link {
    color: $brand-light-navy;
    text-decoration-color: $brand-light-navy;
  }
}
