.logo {
 font-family: 'Raleway';
 font-weight: 700;
 font-size: 24px;
 line-height: 1.17;
 letter-spacing: 0.03em;
 color: $brand-light-navy;
 text-decoration: none;

 @include desktop {
  font-size: 26px;
 }

 &__studio--white {
  color: $brand-white;
 }

 &__studio--black {
  color: $brand-black;
 }
}
