.our-job {
  display: none;

  @include desktop {
    display: block;
    margin-top: -94px;
  }

  &__image {
    vertical-align: middle;
  }

  &__title {
    font-weight: 700;
    font-size: 36px;
    color: $brand-almost-black;
    line-height: 1.17;
    text-align: center;
  }

  &__list {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

  &__item {
    position: relative;
  }

  &__image-name {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 27px 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    z-index: 1;
    color: $brand-white;
    background-color: rgba(47, 48, 58, 0.8);
  }
}
