$brand-light-grey: #757575;
$brand-light-navy: #2196f3;
$brand-almost-black: #212121;
$brand-black: #000000;
$brand-white: #ffffff;
$brand-light-black: #2f303a;
$brand-2nd-grey: #f5f4fa;
$brand-3rd-grey: #afb1b8;

$transitionDurationDeafault: 250ms;
$tarnsitionTimingDefault: cubic-bezier(0.4, 0, 0.2, 1);
